<!DOCTYPE html>
<html lang="<%= locale %>">
    <%- include("templates/head") %>
    <body>
        
        <%- include("templates/navbar") %>
        <div class="content">
        <h3 id="greeting"><%=__("greeting") %>, <%= account.name %>!</h2>
            <table>
                <thead>
                    <th>
                        <%=__("subject") %>
                    </th>
                    <th>
                        <%=__("hours") %>
                    </th>
                    <th>
                        <%=__("time_spent_studying") %>
                    </th>
                    <th>
                        <%=__("hours") %> / <%=__("day") %>
                    </th>
                    <th>
                        <%=__("hours") %> / <%=__("week") %>
                    </th>
                    <th>
                        <%=__("hours") %> / <%=__("month") %>
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        Misc
                    </th>
                </thead>
                
                <tbody id="subj_table">
                    <!-- EJS dynamically adds subject information from the given cookie. -->
                    <% account.subjects.forEach((subject, i) => { %>
                    <tr id="subj_<%= i %>">
                        <td id="subj_<%= i %>_name"><%= subject.name %></td>
                        <td id="subj_<%= i %>_timeReq"><%= subject.timeReq %></td>
                        <td id="subj_<%= i %>_timeDone"></td>
                        <td id="subj_<%= i %>_timeDays"></td>
                        <td id="subj_<%= i %>_timeWeeks"></td>
                        <td id="subj_<%= i %>_timeMonths"></td>
                        <td id="subj_<%= i %>_deadline"><%= subject.deadline %></td>

                        <!-- Creates the options for each subject -->
                        <td id="subj_<%= i %>_options">
                            <select>
                                <option id="subj_<%= i %>_edit">Edit</option>
                                <option id="subj_<%= i %>_deadline">Deadline</option>
                            </select>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <%- include("templates/footer") %>
        <script type="module" src="<%= scriptPath %>" defer></script>
    </body>
</html>