<!DOCTYPE html>
<html lang="<%= locale %>">
    <%- include("templates/head") %>
    <body>
        <%- include("templates/navbar") %>
        <div class="content">
            <form id="login" method="POST" action="/login">
                <table>
                    <tr>
                        <td><%=__("databank") %></td>
                        <td>
                            <input type="text" name="login_db" id="login_db" placeholder="<%=__('databank') %>..."/>
                        </td>
                    </tr>
                    <tr>
                        <td><%=__("password") %> </td>
                        <td>
                            <input type="password" name="login_pw" id="login_pw" placeholder="<%=__('password') %>..." minlength="3" maxlength="12"/>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="login_submit" id="login_submit" value="<%=__('login') %>"/></td></tr>
                </table>
            </form>
            <%=__("prompt_register") %> <a href="/register"><%=__("prompt_register_link") %></a>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>
