<!DOCTYPE html>
<html lang="<%= locale %>">
    <%- include("templates/head") %>
    <body>
        <%- include("templates/navbar") %>
        <div class="content">
            <h3><%=__("register_welcome") %></h3>
            <%=__("register_description") %>

            <form id="register" action="/login">
                <table>
                    <tr>
                        <th><%=__("databank") %></th>
                        <td><input type="text" id="db_name" placeholder="<%=__('databank') %>..."></td>
                        <td>
                            <div class="tooltip_helper">
                                <input type="button" value="?" class="register_help">
                                <span class="tooltip">TODO: Tooltip einfuegen </br>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><%=__("password") %></th>
                        <td><input type="password" id="db_pw" placeholder="<%=__('password') %>..." minlength="3"></td>
                        <td>
                            <div class="tooltip_helper">
                                <input type="button" value="?" class="register_help">
                                <span class="tooltip">TODO: Tooltip einfuegen </br>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><%=__("password_repeat") %></th>
                        <td><input type="password" id="db_pw_repeat" placeholder="<%=__('password') %>..."></td>
                    </tr>
                </table>

                </br>
                <hr>
                </br>

                <!-- TODO: Hide this table until upper form is filled out and validated -->
                <table>
                    <thead>
                        <th><%=__("subject") %>
                            <div class="tooltip_helper">
                                <input type="button" value="?" class="register_help">
                                <span class="tooltip">TODO: Tooltip einfuegen </br>
                                </span>
                            </div>
                        </th>
                        <th><%=__("time") %> (in <%=__("hours") %>)
                            <div class="tooltip_helper">
                                <input type="button" value="?" class="register_help">
                                <span class="tooltip">TODO: Tooltip einfuegen </br>
                                </span>
                            </div>
                        </th>
                        <th>Deadline
                            <div class="tooltip_helper">
                                <input type="button" value="?" class="register_help">
                                <span class="tooltip">TODO: Tooltip einfuegen </br>
                                </span>
                            </div>
                        </th>
                    </thead>
                    <tbody id="subject_creator">
                    </tbody>
                </table>
                
                </br>

                <input type="submit" value="It's StudyTime!" id="submit_register">
            </form>
        </div>
    <script src="<%= scriptPath %>" defer></script>
    </body>
</html>