<!DOCTYPE html>
<html lang="<%= locale %>">
    <%- include("templates/head") %>
    <body>
        <%- include("templates/navbar") %>
    <div class="content">
            <table>
                <thead>
                    <th>
                        <%=__("options_language") %>
                    </th>
                    <th>
                        <%=__("options_time_format") %>
                    </th>
                </thead>
                <tbody>
                    <form id="settings" action="landing">
                        <td>
                            <select id="settings_lang">
                                <option value="DE">Deutsch</option>
                                <option value="US">English</option>
                            </select>
                        </td>
                        <td>
                            <select id="settings_time_format">
                                <option value="DMY">DD.MM.YY</option>
                                <option value="MDY">MM/DD/YY</option>
                            </select>
                        </td>
                    </tbody>
                </table>
                <input type="submit" id="settings_save" value="<%=__('settings_save') %>">
            </form>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>